# <span style='color :blue'> Python Tutorial With Jupyter Notebook - Short Version</span>

This tutorial was originally written by Justin Johnson for CS231 at Stanford University and transferred to a Jupyter notebook for CS228 by Volodymyr Kuleshov and Isaac Caswell. It was adapted by Reto Knaack for HM1 at ZHAW. This short version was established by Moritz Adelmeyer.

## Content

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (Numpy, Scipy, Matplotlib, ...) it becomes a powerful environment for scientific computing.

This tutorial will serve as a crash course both on the Python programming language and on the use of Python for scientific computing. We will cover:

* Python: Basic data types (Numbers, Booleans, Strings), Containers (Lists, Tuples), Loops and Control (For, While, If-else), Functions
* Numpy: Array handling (Creating, Indexing, Slicing, Reshaping), Array math (Elementwise operations, Vector and matrix operations)
* Matplotlib: Plotting

## Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

### Basic data types

#### Numbers

The two basic numerical types are Integers and Floats. Unlike Java, in Python variables must not be declared and can change the type.

In [ ]:
x = 3  # Assign integer value to variable x
print(x)
print(type(x))

In [ ]:
x = 4.5  # Assign float value to variable x
print(x)
print(type(x))

In [ ]:
x = 3
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

In [1]:
x = 4.5
x += 1  # Increment x by 1
print(x)
x *= 2  # Double x
print(x)

5.5
11.0

> **Task 1**
>
> Calculate $y = x^3 - 2\cdot x^2 + 3\cdot x - 4$ for $x=2$.

In [2]:
# Your code
x = 2
y = x**3 - 2 * x**2 + 3 * x - 4
print(y)

2

In [ ]:
x = 8; y = 9; m = 2
print(x % m, y % m)  # Modulo m operation

#### Booleans

Booleans have the value `True` or `False` (note the upper case).

In [ ]:
t, f = True, False  # Simultaneous assignment of t and f
print(t, type(t))
print(f, type(f))

In [ ]:
print(t or f)  # Logical OR
print(t and f) # Logical AND
print(not t, not f)  # Logical NOT

>**Task 2**
>
> Define Boolean variables t1 (true), f1 (false), t2 (true), f2 (false) and test the following operations (try to estimate the results before):
>
> (t1 or t2) and (f1 or f2)
>
>t1 or t2 and f1 or f2

In [7]:
# Your Code

t1 = True
f1 = False
t2 = True
f2 = False

print ((t1 or t2) and (f1 or f2))
print (t1 or t2 and f1 or f2)

False
True

There are eight comparison operations in Python:

== (equal), != (not equal), < (strictly less than), <= (less than or equal), > (strictly greater than),  >= (greater than or equal), is  (object identity), is not (negated object identity)

They all have the same priority which is higher than that of the Boolean operations.

> **Task 3**
>
> Assign numbers to variables a and b. Test, if a is greater or equal than b.
>
> Assign strings to variables c and d. Test, if c is smaller than d.

In [11]:
# Your code

a = 5
b = 3

print(a >= b)

c = "Hallo"
d = "Hall"

print(c < d)

True
True

#### Strings

In [ ]:
h = 'Hello'   # String literals can have single quotes
w = "world"   # or double quotes; it does not matter
print(h, w)

In [ ]:
hw = h + ' ' + w + '!'  # String concatenation
print(hw)

### Containers

Python includes several built-in container data types: lists, tuples, and many others.

#### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types.

Indexing starts at 0.

In [ ]:
xs = [10, 20, 30]  # Create a list
print(xs) # Print list
print(xs[0], xs[2])  # Print first and last element of list
print(xs[0] + xs[1] + xs[2])  # Print sum of elements of list

Negative indices start with -1 from the last element.

In [ ]:
print(xs[-1], xs[-3])  # Print last and first element of list

Change an element of a list:

In [ ]:
xs[1] = 50
print(xs)

Append an element to a list:

In [ ]:
xs.append('ZHAW')  # Add a new element to the end of the list
print(xs)          # Lists can contain elements of different type

Creating a list of integers with `range()`:

In [ ]:
nums = list(range(5,20,3))  # Create a list from 5 (inclusive) to 20 (exclusive) with step 3. 
print(nums)                 # Works only with integers.

> **Task 4**
>
> Define a list of even integers from 0 to 10 (inclusive). Print the list.
>
> Change the first element of the list to the Boolean value True, and append to the end of the list the Boolean value False. Print the new list.

In [2]:
# Your code

test = list(range(0,10))
print(test)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing.

In [1]:
nums = list(range(10,60,10))  # Create list [10, 20, 30, 40, 50]
print(nums)                   
print(nums[2:4])  # Get a slice from index 2 to 4 (exclusive); prints [30, 40]
print(nums[2:])   # Get a slice from index 2 to the end; prints [30, 40, 50]
print(nums[:2])   # Get a slice from the start to index 2 (exclusive); prints [10, 20]
print(nums[:])    # Get a slice of the whole list; prints [10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]
[30, 40]
[30, 40, 50]
[10, 20]
[10, 20, 30, 40, 50]

In [ ]:
nums[2:4] = [60, 70]  # Assign a new sublist to a slice
print(nums)  # Prints [10, 20, 60, 70, 50]

> **Task 5**
> 
> Create a list from 5 to 50 with step width 5. Overwrite the first 3 elements with [50, 100, 150] and the last two elements with [450, 500]. Print the first 5 elements and the last 5 elements of the new list separately.

In [26]:
# Your code

test1 = list(range(5, 50, 5))
test1[:2] = [50, 100, 150]
test1[-1:] = [450, 500]
print(test1[:5])
print(test1[-5:])

[50, 100, 150, 15, 20]
[30, 35, 40, 450, 500]

#### Tuples

A tuple is an immutable ordered list of values. Immutable means that a tuple cannot be changed any more after its creation. A tuple is in many ways similar to a list. In contrast to lists, round brackets () are used to create tuples.

In [27]:
t = (50, 60, 70, 80)  # Create a tuple
print(type(t))
print(t[0])
print(t[1:3])

<class 'tuple'>
50
(60, 70)

When you try to change an element of a tuple, an error message occurs:

In [28]:
t[0] = 40

TypeError: 'tuple' object does not support item assignment

A tuple with only one element, say 10, is written in the form (10,) in order to avoid ambiguity with the mathematical expression (10):

In [2]:
t1 = (10)
print(t1, type(t1))
t2 = (10,)
print(t2, type(t2))

10 <class 'int'>
(10,) <class 'tuple'>

### Loops and Control

#### For loop

You can loop over the elements of a list like this:

In [3]:
xs = [10, 20, 30]
for x in xs:
    print(x)

10
20
30

Alternatively, you can loop over the indices using `range()`:

In [4]:
xs = [10, 20, 30]
for i in range(3):  # i = 0, 1, 2
    print(xs[i])

10
20
30

> **Task 6**
> 
> Define a list with the even numbers from 2 to 20 (inclusive) and print their squares using a for-loop.

In [13]:
# Your code
xs1 = [x for x in range(20) if x%2==0]
xs1.pop(0)

for i in xs1:
    print(i**2)

4
16
36
64
100
144
196
256
324

> **Important**
> 
> Where in Java the indentation in code is for readability only, the INDENTATION in PYTHON is CRUCIAL. Python uses indentation to indicate a BLOCK OF CODE.

In [14]:
sum = 0
for num in range(1,5):
    sum += num
    print(sum)

1
3
6
10

In [15]:
sum = 0
for num in range(1,5):
    sum += num
print(sum)

10

#### If selection

An if selection allows more than one possible flow of control.

In [ ]:
x = int(input("Enter an integer: "))

if x < 0:
    print('Negative')
else:
    print('Not negative')

In [16]:
x = int(input("Enter an integer: "))

if x < 0:
    print('Negative')
elif x == 0:
    print('Zero')
else:
     print('Positive')

Enter an integer: 7
Positive

> **Task 7**
> 
> Assigne an integer number to variable n ant print, if n is even or odd.

#### While loop

A while loop is executet while the given Boolean expression is true.

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)

A while loop can also be terminated by the `break` statement:

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)

> **Task 8**
> 
> Assign a positive number to variable x. Halve x repeatedly, until x is smaller than 0.001. Count the number n of halvings. Print n and the last value of x.

In [20]:
# Your Code

x = 6
cntr = 0
while x > 0.001:
    x = x/2
    cntr = cntr + 1

print(cntr)
print(x)

13
0.000732421875

### Functions

Python functions are defined using the `def` keyword. For example:

In [21]:
# Function sign(x) returns the sign of a number x
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-10, 0, 10]:
    print(x, sign(x))

-10 negative
0 zero
10 positive

> **Task 9**
> 
> Create a function sum(n) that calculates and returns the sum 1 + 2 + ... + n. Test your function
for n = 10. The sum should be 55.

In [34]:
# Your code

def sumSymbol(n):
    x = 0
    for i in range(n+1):
        x = x + i
    return x

print(x, sumSymbol(10))

10 55

An example of a function with a second argument, that is optional, and with no return:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO ' + name + ' !!!')
    else:
        print('Hello ' + name +  ' !')

hello('Bob')
hello('Fred', loud=True)

## Numpy

Numpy is the fundamental package for scientific computing in Python. It is a Python library that provides a multi-dimensional array object, and routines for fast operations on arrays.

There are several important differences between Numpy arrays and Python lists:
- Numpy arrays have a fixed size.
- The elements in a Numpy array are objects of the same type.
- Numpy arrays faciliate and accelerate mathematical and other operations on large data.

To use Numpy, we first need to import the `numpy` package:

In [ ]:
import numpy as np

### Arrays

One dimensional arrays correspond to vectors, two dimensional arrays to matrices. Names of 1D arrays are usually in lower case, names of 2D arrays in upper case.

#### Creating and indexing

We can create Numpy arrays from Python lists, and access elements using indices in square brackets. Indexing starts from 0.

In [ ]:
# Create 1D array and print array, object type of array, data type of elements, shape of array,
# first and last element
a = np.array([10,20,30,40])
print(a)
print(type((a)))
print(a.dtype)
print(a.shape)
print(a[0], a[3])

In [ ]:
# Create 2D array and print array, object type of array, data type of elements, shape of array,
# first and last element
A = np.array([[10.,20.,30.,40.], [50.,60.,70.,80.]])
print(A)
print(type(A))
print(A.dtype)
print(A.shape)
print(A[0,0], A[1,3])

> **Task 10**
> 
> Create a 3x2 matrix filled with all 10 in the first row, all 20 in the second row and all 30 in the third row. Print the matrix.
>
> Change all elements of the first column to 40. Print the new matrix.

In [ ]:
# Your Code:

Numpy also provides many functions to create special arrays:

In [ ]:
x = np.arange(2.5, 6.0, 0.5)  # Create vetor from 2.5 (inclusive) to 6.0 (exclusive)
print(x)                      # with step 0.5

In [ ]:
y = np.zeros(10)  # Create vector of all zeros
print(y)

In [ ]:
A = np.ones((2,3))  # Create 2x3 matrix of all ones
print(A)

In [ ]:
B = np.eye(2)  # Create a 2x2 identity matrix
print(B)

In [ ]:
C = np.random.random((3,3))  # Create a matrix filled with random values between 0 and 1
print(C)

#### Data types

Numpy provides several data types. Numpy tries to guess a data type when you create an array. You can also explicitly specify the data type. To find out which data type the array consists of, use `dtype`, with which you can also define the data type. Here is an example:

In [ ]:
x = np.array([1, 2])  # Let numpy choose the datatype
y = np.array([1.0, 2.0])  # Let numpy choose the datatype
z = np.array([1, 2], dtype=np.int64)  # Force a particular datatype
print(x.dtype, y.dtype, z.dtype)

#### Copying

> **Important**
> 
> Given an array x, the assignment y = x does NOT make a COPY y of x. Instead it creates a so called VIEW y of x. x and y are the same objects. MODIFYING x will MODIFY y and vice versa. A VIEW in Python corresponds to a REFERENCE in Java.

In [ ]:
x = np.array([10, 20, 30])
y = x
print(x)
print(y)
print(x is y)

In [ ]:
x[0] += 40
print(x)
print(y)

In [ ]:
y[2] *= 2
print(x)
print(y)

> **Important**
> 
> To COPY an array us `np.copy()`.

In [ ]:
A = np.array([[10, 20], [30,40]])
B = np.copy(A)
print(A)
print(B)
print(A is B)

In [ ]:
A[0,0] = 50
print(A)
print(B)

#### Slicing

Array slicing is an operation that extracts a subset of elements from an array and packages them as another array, possibly in a different dimension from the original. The basic slice syntax is i : j : k where i is the starting index, j is the stopping index, and k is the step.

In [ ]:
x = np.arange(10,50,5)
print(x)
print(x[1:7:2]) # show elements from index 1 (inclusive) to index 7 (exclusive) in steps of 2
print(x[2:6])   # show elements from index 2 (inclusive) to index 6 (exclusive) in steps of 1
print(x[6:])    # show all elements from index 6 (inclusive) in steps of 1
print(x[:-1])   # show all elements up to last index (exclusive) in steps of 1
print(x[:])     # show all elements

> **Important**
> 
> Sclicing creates a VIEW of the data, NOT a COPY. For copying use `np.copy()`.

In [ ]:
x = np.arange(10,50,5)
y = x[0:3]
z = np.copy(x[0:3])
print(x)
print(y)
print(z)

In [ ]:
x[0] = 50
print(x)
print(y)
print(z)

If an array is multidimensional, you must specify a slice for each dimension of the array.

In [ ]:
# Create the following 3x4 matrix:
A = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(A)

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; B is the following 2x2 matrix:
B = A[:2, 1:3]
print(B)

> **Task 11**
> 
> Create a 3x5 matrix A filled with random elements from 0 to 1 and print A.
>
> Extract the first two rows of A as a view B and print B. 
>
> Extract the last three columns of A as a copy C and print C.
>
> Change the upper right element of A to 0 and print A, B, C.

In [ ]:
# Your Code

#### Mix of indexing and slicing

You can also mix indexing and slicing. However, doing so on a 2D array, will yield a 1D array

In [ ]:
A = np.array([[10, 20, 30], [40, 50, 60]])
print(A)

In [ ]:
row1d = A[0,:]   # Mix indexing and slicing -> yields 1D view of first row of A
row2d = A[0:1,:] # Slicing only -> yields 2D view of first row of A
print(row1d)
print(row2d)

> **Task 12**
> 
> Extract the last column of A as 1D view and as 2D view.

In [ ]:
# Your code:

#### Reshaping

You can reshape an array. Reshaping can change the dimension of an array.

In [ ]:
a = np.arange(12)
print(a)

In [ ]:
# Reshape 1D array to 2D array
A = a.reshape((2, 6))
print(A)

In [ ]:
# Reshape 2D array to 2D array
B = A.reshape((4,3))
print(B)

> **Important**
> 
> Reshaping creates a VIEW of the data, NOT a COPY. For copying use `np.copy()`.

In [ ]:
a = np.arange(6)
A = a.reshape((2,3))
B = np.copy(a.reshape((3,2)))
print(a)
print(A)
print(B)

In [ ]:
a[3] = 30  
print(a)
print(A)
print(B)

### Array math

#### Elementwise operations

Basic mathematical functions operate elementwise on arrays:

In [ ]:
A = np.array([[1.,2.],[3.,4.]])
B = np.array([[5.,6.],[7.,8.]])
print(A)
print(B)

In [ ]:
# Elementwise sum, difference, product, quotient of A and B
print(A + B)
print(A - B)
print(A*B)
print(A/B)

In [ ]:
# Elementwise square and square root of A
print(A**2)
print(A**0.5)

In [ ]:
print(A + 2) # Add 2 to every element of A
print(A - 2) # Subtract 2 to every element of A
print(2*A)   # Multiply every element of A by 2
print(A/2)   # Divide every element of A by 2

#### Vecor and matrix operations

A vector can be implementated in three ways:

* As a 1D array
* As a 2D array with one row
* As a 2D array with one column

In [ ]:
v1 = np.array([1,2])
v2 = np.array([[1,2]])
v3 = np.array([[1],[2]])
print(v1)
print(v2)
print(v3)

A matrix is implemented as a 2D array.

In [ ]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[1, 2, 3], [4, 5, 6]])
print(A)
print(B)

Use the `@` operator to multiply two vectors, a vector and a matrix, or two matrices according to Linear Algebra.

In [ ]:
# Product of two vectors as 1D arrays
# yields a number corresponding to the scalar product:
v = np.array([1,2])
w = np.array([3,4])
print(v)
print(w)
print(v @ w)

In [ ]:
# Product of two vectors as 2D arrays
# yields a 1x1 matrix:
v = np.array([[1,2]])
w = np.array([[3],[4]])
print(v)
print(w)
print(v @ w)

In [ ]:
# Product of matrix with vector in form of 1D array
# vields a 1D array:
A = np.array([[1,2],[3,4]])
v = np.array([1,2])
w = A @ v
print(A)
print(v)
print(w)

In [ ]:
# Product of matrix with vector in form of 2D array with one column
# yields a 2D array with one column
A = np.array([[1,2],[3,4]])
v = np.array([[1],[2]])
w = A @ v
print(A)
print(v)
print(w)

In [ ]:
# Product of two matrices
A = np.array([[1, 2], [3, 4]])
B = np.array([[1, 2, 3], [4, 5, 6]])
print(A)
print(B)
print(A@B)

If you need to transpose a matrix, use the T attribute of an array object.

In [ ]:
B = np.array([[1,2,3],[4,5,6]])
print(B)
print(B.T)

Note: Transposing has no effect on 1D arrays.

In [ ]:
v = np.array([1,2])
print(v)
print(v.T)

If yo want to transpose a vector, you must implement it as a 2D array.

In [ ]:
w = np.array([[1,2]])
print(w)
print(w.T)

> **Task 13**
>
> Given are the matrices and vectors
>
>$$
A=\left(\begin{array}{crr}
1 & 2 \\
3 & 4 \\
\end{array}\right),\;B=\left(\begin{array}{cr}
1 & 2\\
1 & 2\\
1 & 2
\end{array}\right),\;x=\left(\begin{array}{c}
1\\
2
\end{array}\right),\;y=\left(\begin{array}{r}
1\\
2\\
3
\end{array}\right).
$$
>
>
> Calculate, if defined, the following products:
>
> $$
A\cdot x, \space B\cdot y, \space A\cdot B, \space B\cdot A, \space A\cdot A, \space B\cdot B, \space A^{T}\cdot A, \space B\cdot B^{T}, \space x^{T}\cdot y, \space x\cdot y^{T}
$$

In [ ]:
# Your code

#### Computations on array

Numpy provides the standard mathematical constants and functions, which perform on arrays.

In [ ]:
print(np.e)
print(np.pi)

In [ ]:
x = np.array([-1., 0., 1.])
y = np.exp(x)
print(x)
print(y)

In [ ]:
x = np.arange(0, 2*np.pi + 1, np.pi/2)
y = np.sin(x) 
print(x)
print(y)

To sum up the elements of an array, use`sum()`.

In [ ]:
a = np.array([1,2,3])
print(np.sum(a))

In [ ]:
A = np.array([[1,2],[3,4]])

print(np.sum(A))          # Compute sum of all elements; prints 10
print(np.sum(A, axis=0))  # Compute sum of each column; prints [4 6]
print(np.sum(A, axis=1))  # Compute sum of each row; prints [3 7]

There are many more built-in computations for Numpy arrays.

## Matplotlib

Matplotlib is a plotting library. In this section give a brief introduction to the `matplotlib.pyplot` module.

In [ ]:
import matplotlib.pyplot as plt

By running this special command, we will be displaying the plots in the notebook:

In [ ]:
%matplotlib inline

### Plotting

The most important function in `matplotlib` is plot, which allows you to plot 2D data. Here is a simple example:

In [ ]:
# Compute the x and y coordinates for points on a sine curve
x = np.arange(0, 2*np.pi, 0.1)
y = np.sin(x)

# Plot the points
plt.plot(x, y)

With just a little bit of extra work we can easily plot multiple lines at once, and add a grid, axis labels, and a legend:

In [ ]:
x = np.arange(0, 2*np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.grid()
plt.xlabel('x')
plt.ylabel('y')
plt.legend(['Sine', 'Cosine'])

> **Task 14**
> 
> Plot the following exponential functions in the same plot for $x\in[-2,2]$. Add axis labels, a legend, and a grid: 
>
> $$f_1(x) = e^x$$
> $$f_2(x) = e^{-x}$$

In [ ]:
# Your code

And also you can plot 3D figures:

In [ ]:
# Importing required library
from mpl_toolkits.mplot3d import Axes3D

# Creating figure
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

# Creating data for plot
X = np.arange(-5, 5, 0.1)
Y = np.arange(-5, 5, 0.1)
X, Y = np.meshgrid(X, Y)
Z = X**2 + Y**2

# Create plot
ax.plot_surface(X, Y, Z)

ax.set_xlabel('x')
ax.set_ylabel('y')
ax.set_zlabel('z')